{% extends "layout.html.twig" %}
{% set adminMenu = true %}
{% block title %}Administration{% endblock %}
{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#items" data-toggle="tab">Produits</a></li>
                <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="items">
            {% if itemsByType %}
                {% for items in itemsByType %} 
                    <div class="row">
                        <div class="cadre-header">
                            <div class="page-header">
                                <h2>{{items['type'].label}}</h2>
                            </div>


                            <div class="table-responsive">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-9">Nom</th>
                                            <th class="col-xs-2">Prix</th>
                                            <th class="col-xs-1"></th> <!-- Actions column -->
                                        </tr>
                                    </thead>
                                    {% for item in items['item'] %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>
                                                <a href="/admin/item/{{ item.id }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#itemDialog{{ item.id }}"><span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <div class="modal fade" id="itemDialog{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Souhaitez-vous réellement supprimer ce produit ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                <a href="/admin/item/{{ item.id }}/delete" class="btn btn-danger">Confirmer</a>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->   
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Aucun produit trouvé.</div>
            {% endif %}
            <a href="/admin/item/add/"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un produit</button></a>

        </div>
        <div class="tab-pane fade adminTable" id="users">
            {% if users %}
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Rôle</th>
                                    <th></th> <!-- Actions column -->
                                </tr>
                            </thead>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% if user.role == 'ROLE_ADMIN' %}
                                            Administrateur
                                        {% else %}
                                            Utilisateur
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="/admin/user/{{ user.id }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Souhaitez-vous réellement supprimé cet utilisateur ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                        <a href="/admin/user/{{ user.id }}/delete" class="btn btn-danger">Confirmer</a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun utilisateur trouvé.</div>
            {% endif %}
            <a href="/admin/user/add/"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur</button></a>
        </div>
    </div>
{% endblock %}