{% extends "layout.html.twig" %}
{% set cartMenu = true %}

{% block title %}Votre panier{% endblock %}
{% block content %}          
    <div class="row">
        <div class="cadre-header">
            <div class="page-header">
                <h3>Panier</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th></th> <!-- Images column -->
                            <th>Produit(s)</th>
                            <th>Quantité(s)</th>
                            <th>Prix</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        {% for lineCart in cart %}
                            <tr>
                                <td>
                                    <div data-toggle="modal" data-target="#articleDialog{{ lineCart.item.id }}">
                                        <img class="img-responsive" src="{{ app.request.basepath }}/images/produit/{{ lineCart.item.image }}" alt="blabla" width="48px" height="48px">
                                    </div>
                                </td>
                                <td>
                                    <h4 data-toggle="modal" data-target="#articleDialog{{ lineCart.item.id }}">{{ lineCart.item.name }}</h4>
                                    <div class="modal fade" id="articleDialog{{ lineCart.item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ lineCart.item.name }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-5"> 
                                                                <img class="img-thumbnail" src="{{ app.request.basepath }}/images/produit/{{ lineCart.item.image }}" title="{{ lineCart.item.name }}"/>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <h4>Information Générale</h4>
                                                                <ul class="list-unstyled">
                                                                    <li><u>Auteur</u> : {{ lineCart.item.author }}</li>
                                                                    <li><u>Année</u> : {{ lineCart.item.year }}</li>
                                                                    <li><u>Genre</u> : TEXTE</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 panel-body"> 
                                                            <div class="container-fluid"> 
                                                                <div class="page-item">
                                                                    <h4>Description</h4>
                                                                    {{ lineCart.item.description }}
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                                <td>
                                    <input type="number" id="stepper1" name="stepper1" min="1" max="100" value="1" />
                                </td>
                                <td>{{ lineCart.item.price }} €</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#itemDialog{{ lineCart.item.id }}"><span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <div class="modal fade" id="itemDialog{{ lineCart.item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Souhaitez-vous réellement supprimer ce produit ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="/cart/{{ lineCart.item.id }}/delete" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->   
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-bordered">
                        <tr>
                            <td colspan="3">TOTAL </td>
                            <td><b>100 €</b></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {#<input type="button" onClick="saveValue('stepper1')" value="Submit" />#}
    </div>
{% endblock %}

{# http://www.developphp.com/video/HTML/Numeric-Stepper-Form-Input-Tutorial #}