{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="row">
        <div class="cadre-header">
            <div class="page-header">
                <h2>Manga <small>Liste des derniers mangas</small></h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/m_img_bus.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-agnam" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/m_img_cobra.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-agnam" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/m_img_elfen.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-agnam" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cadre-header">
            <div class="page-header">
                <h2>Anime <small>Liste des derniers animes</small></h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/a_img_angel.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-danger" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/a_img_conan.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-danger" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ app.request.basepath }}/images/produit/a_img_darker.png" alt="...">
                        <div class="caption">
                            <h3>Nom</h3>
                            <p>Description coupé</p>
                            <p><a href="#" class="btn btn-danger" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}