{% extends 'layout.html.twig' %}
{% set tataMenu = true %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="well">
        {{ form_start(itemForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(itemForm.name, 'Nom du produit', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_errors(itemForm.name) }}
                {{ form_widget(itemForm.name, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.author, 'Autheur', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_errors(itemForm.author) }}
                {{ form_widget(itemForm.author, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.year, 'Année', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_errors(itemForm.year) }}
                {{ form_widget(itemForm.year, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.price, 'Prix', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_widget(itemForm.price, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.image, 'URL de l\'image', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_widget(itemForm.image, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.description, 'Description', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-9">
                {{ form_errors(itemForm.description) }}
                {{ form_widget(itemForm.description, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(itemForm.type, 'Type', { 'label_attr': {
        'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(itemForm.type) }}
                {{ form_widget(itemForm.type, { 'attr': {
            'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Sélection des genre</label>

            <div class="col-sm-10 col-sm-offset-2">
                <div class="col-sm-5 col-xs-12">
                    <select size='5' id="list-genre" class="form-control">
                        <option value="11" >Genre1</option>
                        <option value="12" selected >Genre2</option>
                        <option value="13" >Genre3</option>
                        <option value="14" >Genre4</option>
                        <option value="15" >Genre5</option>
                        <option value="16" >Genre6</option>
                    </select>
                </div>
                <div class="col-sm-2 col-xs-12 text-center">
                    <div class="col-sm-12 col-xs-6" ><a class="btn btn-primary" id='add-genre'> > </a></div>
                    <div class="col-sm-12 col-xs-6" ><a class="btn btn-primary" id='remove-genre'> < </a></div>
                    
                </div>
                <div class="col-sm-5 col-xs-12">
                    <select size='5' id='list-genre-add' class="form-control">
                    </select>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(itemForm) }}

    </div>

{% endblock %}
