{% extends "layout.html.twig" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    
<div class="jumbotron">
    <div class="row item"><h1 class="text-center"> {{ item.name }}</h1></div>
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail" src="{{ app.request.basepath }}/images/produit/livre.png" title="livre"/>
        </div>
        <div class="col-md-9">
            <div class="page-item">
                <h4>Information Générale</h4>
                    <ul class="list-unstyled">
                        <li>Auteur : {{ item.author }}</li>
                        <li>Année : {{ item.year }}</li>
                        <li>Genre : /</li>
                    </ul>
                <br />
                <h4>Description</h4>
                {{ item.description }}
            </div>
        </div>
    </div>
    <br />
    <button type="button" class="btn btn-primary">Retour</button>       
</div>
            
{% endblock %}{# empty Twig template #}
