{% extends "layout.html.twig" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2>{{ item.name }}</h2>
            </div>
            <div class="container-fluid">
                <div class="col-sm-3">
                    <img class="img-thumbnail" src="{{ app.request.basepath }}/images/produit/{{ item.image }}" title="{{ item.name }}"/>
                </div>
                <div class="col-sm-9 panel-body"> 
                    <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-md-9">
                                <div class="page-item">
                                    <h4>Information Générale</h4>
                                    <ul class="list-unstyled">
                                        <li><u>Auteur</u> : {{ item.author }}</li>
                                        <li><u>Année</u> : {{ item.year }}</li>
                                        <li><u>Genre</u> : TEXTE</li>
                                    </ul>
                                    <br />
                                    <h4>Description</h4>
                                    {{ item.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <!-- <a class="btn btn-agnam" href="/items/type={{ item.type.id }}" >Retour </a>  FORMAT SANT JS-->
                            <a class="btn btn-agnam" href="javascript:history.go(-1)" >Retour </a>
                            <a  class="btn btn-warning"href="/cart/item/{{ item.id }}" >{{ item.price }} € <span class="glyphicon glyphicon-shopping-cart"></span></a>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>

{% endblock %}
