{% extends "layout.html.twig" %}

{% block title %}Produit{% endblock %}

{% block content %}          
    <div class="row">
        <div class="cadre-header">
            <div class="page-header text-center">
                <h2>Liste des {{ typeG.label }}s</h2>
            </div>
            <div class="container-fluid">
                {% if items %}
                    {% for item in items %}
                        <div class="col-sm-4 col-md-3">
                            <div class="thumbnail-agnam">
                                <a href="/items/{{ item.id }}" ><img class="item-img" src="{{ app.request.basepath }}/images/produit/{{ item.image }}" title="{{ item.name }}" /></a>
                                <div class="caption">
                                    <div class="item-tile" >
                                        <h4>{{ item.name }}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5"><a class="btn btn-agnam" href="/items/{{ item.id }}" >Détail</a></div>
                                        <div class="col-sm-5"><a class="btn btn-warning" href="/cart/item/{{ item.id }}" >{{ item.price }} € <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">Aucun produit trouvé pour cette catégorie.</div>
                {% endif %} 
            </div>
        </div>
    </div>
{% endblock %}
