{% if typeG is defined %}
    {% set typeMenu = typeG.id %}
{% endif %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ app.request.basepath }}/css/AgnamStore.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>AgnamStore - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-fixed-top navbar-agnam" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="mask">
                            <a class="navbar-brand" href="/"><img class="logo" src="{{ app.request.basepath }}/images/logo1.png" title="Logo AgnamStore"/></a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="dropdown {% if typeMenu is defined %}active{% endif %}">

                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Produits<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if types %}
                                        {% for type in types %}
                                            <li class="{% if typeMenu is defined and typeMenu==type.id%}active{% endif %}">
                                                <a href="/items/type={{ type.id }}" >{{ type.label }}</a>                            
                                            </li> 
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.security.token and is_granted('ROLE_ADMIN') %}
                                <li class="{% if adminMenu is defined %}active{% endif %}"><a href="/admin"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                                {% endif %}
                                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.security.token.user.firstName }} {{ app.security.token.user.lastName }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                                        <li><a href="/user">Profil</a></li>
                                    </ul>
                                </li>
                                <li class="{% if cartMenu is defined %}active{% endif %}"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Panier</a></li>
                                {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Non connecté <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('login') }}">Connexion</a></li>
                                        <li><a href="/registration">S'enregistrer</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div><!-- /.container -->
            </nav>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% autoescape %}
                <div id="content">{% block content %}{% endblock %}</div>
            {% endautoescape %}
        </div>
        <!-- jQuery -->
        <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.1.min.js"></script>
        <!-- JavaScript Boostrap plugin -->
        <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- JavaScript -->
        <script src="{{ app.request.basepath }}/js/cat.js"></script>
        <script src="{{ app.request.basepath }}/js/genre.js"></script>
    </body>
</html>
