{{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(userForm.firstName, 'Prénom', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.firstName) }}
                {{ form_widget(userForm.firstName, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.lastName, 'Nom', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.lastName) }}
                {{ form_widget(userForm.lastName, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.email, 'Email', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.email) }}
                {{ form_widget(userForm.email, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.address, 'Adresse', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.address) }}
                {{ form_widget(userForm.address, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.city, 'Ville', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.city) }}
                {{ form_widget(userForm.city, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group colorCP">
            {{ form_label(userForm.cp, 'Code postal', { 'label_attr': {
            'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.cp) }}
                {{ form_widget(userForm.cp, { 'attr': {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(userForm) }}
