{{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
<div class="form-group">
    {{ form_label(userForm.password.first, 'Mot de passe', { 'label_attr': {
        'class': 'col-sm-5 control-label'
    }}) }}
    <div class="col-sm-4">
        {{ form_widget(userForm.password.first, { 'attr': {
            'class': 'form-control'
        }}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(userForm.password.second, 'Confirmer mot de passe', { 'label_attr': {
        'class': 'col-sm-5 control-label'
    }}) }}
    <div class="col-sm-4">
        {{ form_widget(userForm.password.second, { 'attr': {
            'class': 'form-control'
        }}) }}
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-5 col-sm-3">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>
{{ form_end(userForm) }}
